@font-face {
    font-family: sen;
    src: url(font-family/Sen/Sen-VariableFont_wght.ttf);
}

@font-face {
    font-family: Inter;
    src: url(font-family/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    color: black;
}

a {
    text-decoration: none;
}

/* barre de navigation */

.nav-bar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #faf8ed;
}

.nav-content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content .content-text {
    display: flex;
    gap: 100px;
}

.menu ul {
    display: flex;
    gap: 30px;
}

.menu>ul li {
    list-style: none;
}

.content-btn {
    padding: 10px 50px;
    border: 1px solid #f77b5b;
    color: #f77b5b;
    border-radius: 50px;
}

/* section entete */

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 100px 0;
    background-color: #faf8ed;

}

.header-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    gap: 70px;
}

.header-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-text h1 {
    font-family: sen;
    padding-top: 10px;
    font-size: 68px;
    font-weight: bold;
}

.header-image img {
    height: 83%;
}

.other {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: white;
    border-radius: 40px;
}

.research {
    display: flex;
    align-items: center;
    padding-left: 80px;
}

.research .cercle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 47px;
    background-color: orangered;
    border-radius: 50%;
}

.section-categorie {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 100px 0;
    background-color: #faf8ed;
}

.cat-content {
    width: 80%;
}

.cat-elements {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.cat-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icones {
    display: flex;
    gap: 10px;
}

.icone1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;

}

.icone2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
}

.cat-image {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.image33 {
    width: 110px;
    height: auto;
    border-radius: 42%;
}

.img-description {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    padding-left: 110px;
    padding-top: 8px;
}

.section-experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 100px 0;
    background-color: #faf8ed;
}

.experience-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    gap: 70px;
}


.experience-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 10px;
    padding-bottom: 60px;
}

.experience-element {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.item-element1 {
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 8%;
}

.item-element2 {
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 8%;
}

.item-element3 {
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 8%;
}

.experience-content>div img {
    height: 83%;
}

.section-destination {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 100px 0;
    background-color: #faf8ed;
    border: 1px solid red;
}



.destination-content {
    width: 80%;
}

.dest-text {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.dest-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 20px;
    justify-content: center;
    align-items: start;
    gap: 10px;
    overflow: hidden;
    border: 1px solid green;
}

.img1 {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    border-radius: 5%;
    border: 1px solid red;
}

.img2 {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    border-radius: 5%;
    border: 1px solid red;
}

.img3 {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    border-radius: 5%;
    border: 1px solid red;
}

.img4 {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    border-radius: 5%;
    border: 1px solid red;
}

.img1 img {
    width: 95%;
    height: 55%;
    padding-left: 7px;
    padding-top: 8px;
}

.img2 img {
    width: 95%;
    height: 55%;
    padding-left: 7px;
    padding-top: 8px;
}

.img3 img {
    width: 95%;
    height: 55%;
    padding-left: 7px;
    padding-top: 8px;
}

.img4 img {
    width: 95%;
    height: 55%;
    padding-left: 7px;
    padding-top: 8px;
}

.text-other{
    padding-left: 10px;
}

.img-other{
    padding-left: 10px;
}

.section-top{
     display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 100px 0;
    background-color: #faf8ed;
    border: 1px solid red;
}